body {
  background-color: gray;
}

#header {
  text-align: center;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .column {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  .column {
    float: left;
    width: 33.33%;
    height: auto;
    text-align: center;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.images {
  width: 90%
}

.titles {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
