body {
  background-color: green;
}

#header {
  text-align: center;
}


.column {
  float: left;
  width: 33.33%;
  height: auto;
  /* padding: 10px; */
  /* border: black solid thin; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
  border: black solid thin;

}
