body {
  background-color: gray;
}

#header {
  text-align: center;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .column {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  .column {
    float: left;
    width: 33.33%;
    height: auto;
    text-align: center;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    border: black solid thin;
  }
}

#img-1 {
  width: 90%
}
#img-2 {
  width: 90%
}
#img-3 {
  width: 90%
}
#img-4 {
  width: 90%
}
#img-5 {
  width: 90%
}
#img-6 {
  width: 90%
}
